class <%= config[:migration_title] %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :<%= config[:policy] %>_roles do |t|
      t.string :permission, null: false
      t.boolean :admin, default: true
      t.boolean :default, default: false
    end

    add_index :<%= config[:policy] %>_roles, :permission, unique: true
  end
end