class <%= config[:class_name] %> < Eucalypt::Controller(route: '<%= config[:route] %>')
  helpers <%= config[:class_name].gsub 'Controller', 'Helper' %> if defined? <%= config[:class_name].gsub 'Controller', 'Helper' %>
end