class <%= config[:class_name] %> < Eucalypt::Controller(route: '<%= config[:route] %>')
  helpers <%= config[:helper_class_name] %> if defined? <%= config[:helper_class_name] %>

  # GET - Browse
  get '/' do

  end

  # GET - Read
  get '/:id' do |id|

  end

  # POST - Edit
  post '/:id/edit' do |id|

  end

  # POST - Add
  post '/' do

  end

  # POST - Delete
  post '/:id/delete' do |id|

  end
end