class CreateUsers < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :users do |t|
      t.string :username, null: false
      t.string :encrypted_password, null: false
      t.timestamps
    end
  end
end