<!-- Layout for displaying all blog articles (or articles found in a blog search) -->
<html>
    <head>
    <title></title>
        <%= config[:erb][0] %>
    </head>
    <body>
        <%= config[:erb][1] %>
    </body>
</html>