class ApplicationController < Sinatra::Base
  # Include Pundit for authorization
  include Pundit

  helpers do
    def authorize(object, permission)
      policy(object).send permission
    end

    def authorized?(object, permission)
      return false unless authenticated?
      authorize object, permission
      true
    rescue Pundit::NotAuthorizedError
      false
    end
  end
end